<div  ng-controller="mainController" ng-init="init()">
<img id="pleasewait" src="img/PleaseWait.gif">
<div id="scrollcontainer">
	<div id="CarouselWrapper" ng-iscroll="wrapper">
	        <div id="scroller">
                <div ng-repeat="slide in slides" style="float:left;">
					<div ng-repeat="retailer in slide" style="float:left;">
						<div class="action-retailer retailer_logo"  style="background-image:url(http://akimages.shoplocal.com/dyn_li/50.50.85.0/retailerlogos/{{retailer.PRetailerLogoLocation}});" ng-click="openHeroPromotion($index,retailer.RetailerID)"
						data-retailerid="{{retailer.RetailerID}}"  data-index="{{$index}}"
						data-heropromocode = {{retailer.PromotionCode}} data-storeid = {{retailer.StoreID}}
						></div>
					</div>
                </div>
	        </div>
	    </div>
	</div>
	<div class="controls">
		<div class="prev" ng-click="goBack()"><<</div>
		<div class="next" ng-click="goForward()" >>></div>
	</div>
</div>